*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.heading-1 {
  font-family: Poppins, sans-serif;
  font-size: 7rem;
  font-weight: 400;
  letter-spacing: 4px;
  line-height: 1.0; }

.heading-2 {
  font-family: Nunito, sans-serif;
  font-size: 5.5rem;
  font-weight: 400;
  letter-spacing: 7px;
  text-transform: uppercase;
  color: #fff; }

.heading-4 {
  font-family: Nunito, sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-left: 16px;
  margin-top: 18px; }

.figure-1 {
  width: 40%;
  height: 60%;
  background-color: #faf3eb;
  position: absolute;
  top: 0;
  right: 0; }

.figure-2 {
  width: 30%;
  height: 20%;
  background-color: #adc4bc;
  position: absolute;
  right: 9%;
  bottom: 15%; }

.logo {
  width: 8.5vw;
  height: 7.5vh;
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translateX(-50%); }
  .logo__img {
    width: 100%; }

.section-1 {
  width: 100vw;
  height: 100vh;
  padding: 4rem;
  position: relative; }
  .section-1__img {
    max-width: 58%;
    max-height: 68%;
    position: absolute;
    top: 25%;
    left: 18%; }
    .section-1__img-1 {
      width: 100%;
      height: 100%; }
  .section-1__text {
    width: 19rem;
    position: absolute;
    top: 45%;
    left: 14%; }

.section-2 {
  background-color: #e9d4cf;
  height: 110vh;
  clip-path: polygon(0 12vh, 100% 0, 100% 98vh, 0 100%);
  margin-top: -3rem;
  position: relative;
  padding: 4rem; }
  .section-2__img {
    max-width: 70%;
    max-height: 65%;
    position: absolute;
    top: 16%;
    left: 18%;
    overflow: hidden; }
    .section-2__img-1 {
      width: 100%;
      height: 100%; }
  .section-2__text {
    width: 50%;
    position: absolute;
    top: 30%; }
