.heading-1 {
  font-family: Poppins, sans-serif;
  font-size: 7rem;
  font-weight: 400;
  letter-spacing: 4px;
  line-height: 1.0;
}

.heading-2 {
  font-family: Nunito, sans-serif;
  font-size: 5.5rem;
  font-weight: 400;
  letter-spacing: 7px;
  text-transform: uppercase;
  color: #fff;
}

.heading-3 {

}

.heading-4 {
  font-family: Nunito, sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-left: 16px;
  margin-top: 18px;
}
