.heading-1 {
  font-family: $poppins;
  font-size: 7rem;
  letter-spacing: 4px;
  line-height: 1.0;
}

.heading-2 {
  font-family: $nunito;
  font-size: 5.5rem;
  font-weight: 400;
  letter-spacing: 7px;
  text-transform: uppercase;
  color: #fff;
}

.heading-3 {
  font-family: $nunito;
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  background-color: #fff;
  display: inline-block;
  padding: .5rem;
  margin-top: -2rem;
}

.heading-4 {
  font-family: $nunito;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-left: 16px;
  margin-top: 18px;
}

.handwrite {

  &-white {
    color: #fff;
  }
  color: black;
  font-family: $tangerine;
  font-size: 8rem;
  line-height: 1.1;
}

.paragraph-1 {
  font-family: $nunito;
  font-size: 1.1rem;
  text-transform: uppercase;
  padding-left: 2rem;
  border-left: 1px solid #eee;
}

.paragraph-2 {
  font-family: $nunito;
  font-size: 1rem;
  color: #A9A9A9;
}
