.figure-1 {
  width: 40%;
  height: 60%;
  background-color: #faf3eb;
  z-index: -1;

  position: absolute;
  top: 0;
  right: 0;
}

.figure-2 {
  width: 30%;
  height: 20%;
  background-color: #adc4bc;

  position: absolute;
  right: 9%;
  bottom: 15%;
}

.vert-center {
  transform: translateY(15%);
}

.margin-top {
  margin-top: -15rem;

  @include respond(laptop) {
    margin-top: -10rem;
  }
}

.break-line {
  border-bottom: 1px solid #eee;
}

.row-no-margin {
  margin-left: 0;
  margin-right: 0;
}
