// SECTION 1
.section-1 {
  width: 100vw;
  height: 100vh;
  padding: 4rem;

  position: relative;

  &__img {
    max-width: 58%;
    max-height: 68%;

    position: absolute;
    top: 25%;
    left: 18%;

    &-1 {
      width: 100%;
      height: 100%;
    }
  }

  &__text {
    width: 19rem;
    position: absolute;
    top: 45%;
    left: 14%;
  }
}

//SLIDE NUMBER (LEFT)
.slide-number {
  position: absolute;
  top: 60%;
  margin-left: -4rem;

  &__90deg {
    transform: rotate(-90deg);
    font-family: $nunito;
    font-size: 1.3rem;
    font-weight: 700;

    &::after {
      content: "";
      width: 4rem;
      height: .1rem;
      background-color: black;
      display: inline-block;
      margin-left: 4rem;
    }
  }
}

//SLIDE NUMBER (RIGHT)
.slide-number__2 {
  position: absolute;
  top: 70%;
  right: 13%;

  &-list {
    list-style: none;
    margin-bottom: 0;
  }

  &-item {
    display: inline;
    font-size: .8rem;
    font-weight: 600;
    margin-right: .7rem;
    color: #A9A9A9;

    &-active {
      color: black;
      position: relative;

      &::after {
        content: "";
        width: 4rem;
        height: .1rem;
        background-color: black;
        display: inline-block;
        transform: rotate(-90deg);

        position: absolute;
        top: 50px;
        right: -14px;
      }
    }

  }
}



// SECTION 2
.section-2 {
  background-color: #e9d4cf;
  height: 110vh;
  clip-path: polygon(0 12vh, 100% 0, 100% 98vh, 0 100%);
  margin-top: -3rem;
  position: relative;
  padding: 4rem;
  margin-bottom: 10rem;

  &__img {
    max-width: 70%;
    max-height: 65%;

    position: absolute;
    top: 16%;
    left: 18%;
    overflow: hidden;

    &-1 {
      width: 100%;
      height: 100%;
    }
  }

  &__text {
    width: 50%;
    position: absolute;
    top: 30%;
  }
}

// SECTION 3
.section-3 {
  background-image: url(../img/bouquet.jpg);
  background-attachment: fixed;
  margin-bottom: 10rem;

  &__cit {
    text-align: center;
    padding-top: 10rem;
    padding-bottom: 10rem;

  }
}

// SECTION 4
.section-4 {
  padding: 0 3rem;

  &__col-1 {
    padding: 3rem;
    text-align: center;
  }

  &__col-2 {
    padding: 3rem;
    text-align: center;
  }

  &__img1 {
    width: 100%;
    height: 80%;
    overflow: hidden;

    &-1 {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__img2 {
    width: 100%;
    height: 60%;
    overflow: hidden;

    &-2 {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

// SECTION 5
.section-5 {
  padding: 0 3rem;

  &__col-1 {
    padding: 3rem;
    text-align: center;
  }

  &__col-2 {
    padding: 3rem;
    text-align: center;
  }

  &__img1 {
    width: 100%;
    height: 60%;
    overflow: hidden;

    &-1 {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__img2 {
    width: 100%;
    height: 80%;
    overflow: hidden;

    &-2 {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
